@media all and (min-width: 0px) and (max-width: 575px){
    input.form-control.mr-sm-2 {
        width: 12rem;
        /* margin: 0px auto; */
    }
    
    form.form-inline.mx-auto {
        margin: 0px auto;
    }
    main.col.px-5.pl-md-2.pt-2.main {
        top: 3rem;
    }
    a.navbar-brand.px-4 {
        display: none!important;
    }
    a.navbar-brand.px-4 img.img-fluid.logo{
        display: none;
    }
    .col-md-3.col-lg-2.col-5.pl-0.pr-0.s-b-c.width.border-right.sidebarb.vh-100.collapse.show {
        z-index: 10;
        position: fixed;
        height: 100%;
        background: whitesmoke;
        top: 0;
    }
    a.list-group-item.w3-bar-item.border-right-0.d-inline-block {
        text-align: left;
    }
    
    .sidebar-d {
        /* box-sizing: border-box; */
        box-shadow: 2px 1px 5px 0px rgba(50, 50, 50, 0.75);
    }
    .sidebar-d {
        height: 100%;
        padding-top: 3rem;
    }
    
    nav.navbar.navbar-expand-md.bg-danger.sticky-top.text-center.navbar-dark {
        position: fixed;
        width: 100%;
    }
    
    .col-md-3.col-lg-2.col-5.pl-0.pr-0.s-b-c.width.border-right.sidebarb.vh-100.collapse.show {
        transition: .5s lineiar;
    }
    
    div#mySidebar {
        width: 100%!important;
        top: 3rem;
    }
    input.form-control.input-details.bg-warning.text-light {
        margin: 0px auto;
        float: left;
        text-align:center;
        border-radius:0px;
    }
    
    
    button.plus-item.btn.btn-warning.btn-lg.details-add-rmv-btn.p-0.plus {
        float: left;
        border-radius: 0px 5px 5px 0px;
    }
    
    button.minus-item.btn.btn-warning.btn-lg.details-add-rmv-btn.p-0.minus {
        float: left;
        border-radius: 5px 0px 0px 5px;
    }
    
    .add-rmv-area.justify-content-center {
        margin: 0px auto;
    }
    .product-page input.form-control.input-details.bg-warning.text-light {
        width: 4rem;
        font-size: 0.7rem!important;
    }
    
    div#myModalDetails * {
        margin: 0px;
        padding: 0px;
    }
    
    div#myModalDetails .footer .col-md-12.text-center {
        float: left;
        display: none;
    }
    
    div#myModalDetails .footer span.float-right {
        display: none;
        /* float: left; */
    }
    
    
    
    div#myModalDetails .footer .col-md-3 {
        width: 5rem;
    }
    
    div#myModalDetails .footer .col-md-6 {
        width: 11rem;
    }
    .footer.p-4.bg-muted * {
        margin: 0px auto;
        padding: 0px;
    }
    div#myModalDetails h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    div#myModalDetails p.text-dark {
        margin-right: 18rem!important;
        padding: 1rem!important;
        padding-right: -15rem;
    }
    
    div#myModalDetails form#d-f {
        /* margin: 0px auto!important; */
        margin-left: 2rem;
    }
    
    div#myModalDetails  p.text-muted.p-2 {
        margin-right: 16rem!important;
    }
    .img-header h2.text-dark {
        font-size: 1.2rem;
    }
    .col-lg-6.col-12.modt {
        height: 35rem;
    }
    
}
@media all and (min-width:576px) and (max-width:900px){
    ul.carousel-indicators {
        display: none;
    }
    
    .sidebar-d {
        /* top: 21rem!important; */
        padding-top: 5rem;
    }
    
    img.img-fluid.cart-product-image {
        width: 13rem;
    }
    
    div#mySidebar {
        width: 50%!important;
        top: 5rem;
    }
    input.form-control.mr-sm-2 {
        width: 13rem;
    }
    
    a.navbar-brand.px-4 {
        display: block!important;
    }
    
    span.logo-name.text-light {}
    
    img.img-fluid.logo {
        display: block;
    }
    
    img.img-fluid.logo {
        display: block!important;
    }
    div#mySidebar {
        width: 50%!important;
    }
    
    .img-header {
        width: 100%;
    }
    
    div#myModalDetails .modal-content {
        width: 51rem;
    }
    
    div#myModalDetails * {
        margin: 0px;
        padding: 0px!important;
        /* margin-left: 0rem!important; */
    }
    
    div#myModalDetails .modal-content {
        /* width: 54rem; */
    }
    div#myModalDetails  p.text-dark {
        margin: 0px !important;
        width: 100%;
        font-size: 1rem!important;
    }
    div#main {
        margin-right: 0px!important;
    }
}
@media all and (min-width: 901px) and (max-width:1025px){
    div#myModalDetails .modal-content {
        width: 51rem;
    }
    main.col.px-5.pl-md-2.pt-2.main {
        top: 6rem;
    }
    div#myModalDetails * {
        margin: 0px;
        padding: 0px!important;
        /* margin-left: 0rem!important; */
    }
    
    div#myModalDetails .modal-content {
        width: 68rem !important;
    }
    
    
    nav.navbar.navbar-expand-md.bg-danger.sticky-top.text-center.navbar-dark {
        position: fixed!important;
        width: 100%;
    }
    
    body {
        overflow-x: hidden;
    }
    div#mySidebar {
        top: 5.5rem;
    }
    div#myModalDetails  p.text-dark {
        margin: 0px !important;
        width: 100%;
    }
    input.form-control.mr-sm-2 {
        width: 30rem;
    }
    
}
@media only screen and (min-width:1026px){
    .col-md-3.col-lg-2.col-5.pl-0.pr-0.s-b-c.collapse.show.width.border-right.sidebarb.vh-100 {
        position: relative;
    }
    div#myModalDetails .modal-content {
        width: 62rem;
    }
    
    div#myModalDetails .modal-dialog {
        margin-left: 17rem;
    }
    .sidebar-d {
        position: fixed;
        width: 15%;
        padding-top: 0rem;
    }
}