@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
/*csss wull start form heere----*/

body{
    font-family: 'PT Sans', sans-serif;
}
.card.shopping-card {
    margin: 1rem;
}
p{
    font-size: .8rem!important;
}
main.col.px-5.pl-md-2.pt-2.main {
    padding: 0px!Important;
}/*
.col-md-2.col-5.pl-0.pr-0.s-b-c.width.border-right.sidebarb.vh-100.collapse.show .sidebar-d {
    position: fixed;
    top: 10rem;
}*/
.col-md-3.col-sm-4.col-6.offset-md-1 .card.shopping-card {
    width: 11rem;
}

.col-md-3.col-sm-4.col-6.offset-md-1 {
    margin-left: 3rem;
}
.product .card.shopping-card {
    border: none;
}
img.img-fluid.logo {
    width: 7rem;
}
button.w3-bar-item.w3-button.w3-large.text-center:hover {
    color: black!important;
}
nav.navbar.navbar-expand-md.bg-danger.sticky-top.text-center.navbar-dark {
    background: #ffc49c!important;
}
div#cartBag .card-body {
    background: url("../../admin/img/shopping-cart.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div#cartBag {
    position: fixed;
    top: 50%;
    right: 2px;
    z-index: 1000;
}

a.w3-bar-item:hover{
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,0,1) 100%);
    color: #dc3545;
}
a.list-group-item.w3-bar-item.border-right-0.d-inline-block {
    border: none;
}
/*
.sidebar-d {
    width: 15%;
}*/
.zoom-thumb {
    float: left;
}
.zoom-main {
    width: 24rem;
}
div#myGallery {
    width: 24rem;
}

.zoom-main span {
    border:none;
}

.slick-slide.slick-current {
    outline: none;
}
input.item-count.form-codiv.cart-view {
    width: 2rem;
    height: 2rem;
}
.cart-view {
    font-size: .7rem;
}
.input-group.cart-bdy.row {
    width: 4rem;
    padding: 1rem;
}
.cart-ds.px-4 {
    padding-bottom: 3rem;
}
span.item-count.form-control {
    border: none;
    font-size: .7rem;
}

.show-cart td {
    padding: .7rem;
}
div#mySidebar {
    padding: 0px;
}
a.add-to-cart.btn img {
    height: 1.5rem;
    width: auto;
}

div#myModalDetails input.form-control.input-details {
    width: 4rem;
    height:3rem;
    border-radius:0;
    text-align:center;
}

div#myModalDetails button.btn.btn-danger.btn-lg.details-add-rmv-btn.plus {height: 3rem;border-radius: 0px 10px 10px 0px;}
div#myModalDetails button.btn.btn-danger.btn-lg.details-add-rmv-btn.minus {height: 3rem;border-radius: 10px 0px 0px 10px;}

div#myModalDetails a.float-right.ml-5.add-to-cart.btn.btn-danger.btn-lg {
    padding: .5rem;
    border-radius: 0;
}
.footer p span img.img-fluid {
    width: 3rem;
}

input.form-control.input-details.bg-warning.text-light {
    width: 5rem;
    font-size: .8rem!important;
    height: 2rem;
}
.footer ul li{
    list-style: none;
}/*
.col-md-3.col-lg-2.col-5.pl-0.pr-0.s-b-c.width.border-right.sidebarb.vh-100.collapse.show .sidebar-d {
    position: fixed;
}
*/
input.form-control.mr-sm-2 {
    width: 52rem;
}
.op-padding{
    position: relative;
}
.op-padding .img-header {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.8);
}
button.w3-bar-item.w3-button.w3-large.text-center:hover {
    color: black!important;
}
.footer.p-4.bg-muted {
    background: #e0e0e0;
}
.card {
    border: none;
}

.category-wise-select img.card-img-top.img-fluid.mx-auto {
    width: 5rem;
}
.col-md-3.col-lg-2.col-5.pl-0.pr-0.s-b-c.width.border-right.sidebarb.vh-100.collapse.show {
    z-index: 10;
    position: fixed;
    height: 100%;
    background: whitesmoke;
    top: 0;
}

.sidebar-d {
    height: 100%;
    padding-top: 5rem;
}
i.fas.fa-times-circle {
    font-size: 2rem;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.stepwizard-step p {
    font-size: 0.7rem;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
span.check.mark.bg-danger.text-light {
    font-size: 10rem;
}
div#sidebar {
    height: 100%;
}
.w3-button:hover {
    color: #f8f9fa!important;
    background-color: transparent !important;
}

.scroll-top {
    width: 50px;
    height: 40px;
    text-align:center;
    background: #0078D7;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #FFFFFF;
    z-index: 100;
    font-size: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}